.promotions__section {
    width: 100%;
    height: 85.55rem;
}

.promotions__container {
    width: 100%;
    height: 100%;
}

.promotions__header {
    padding-top: 5rem;
}

.promotions__h2 {
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.promotions__paragraph {
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.3rem;
    text-align: center;
}

.promotions__content {
    width: 100%;
    height: 75.95rem;
    padding: 2rem 1.25rem 6rem 1.25rem;
}

.promotion {
    width: 100%;
    height: 22.65rem;
}

.promotion__img {
    margin-bottom: 1.5rem;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 16.05rem;
    object-fit: cover;
}

.promotion__h3 {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: bold;
}

.promotion__paragraph {
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    line-height: 1.3rem;
}

/* small devices portrait tablets and large phones 600px and UP */
@media (min-width: 640px){

}
  
/* medium devices landscape tablets 768px and UP */
@media (min-width: 768px){
    .promotions__section {
        height: 84.75rem;
    }
}

/* Large devices laptops, desktops 1024px and UP */
@media (min-width: 1024px){
    .promotions__section {
        height: 77.9rem;
    }
    
    .promotions__header {
        padding-top: 10rem;
    }
    
    .promotions__h2 {
        margin-bottom: 1rem;
        font-size: 3rem;
        line-height: 3rem;
        font-weight: bold;
        text-align: center;
    }
    
    .promotions__paragraph {
        margin-bottom: 1rem;
        font-size: 1.8rem;
        line-height: 2.6rem;
        text-align: center;
    }
    
    .promotions__content {
        width: 85%;
        height: 61.3rem;
        margin: 0 auto;
        padding: 4rem 0 12rem 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .promotion {
        width: 100%;
        height: 45.3rem;
        padding: 0 2.5rem;
    }
    
    .promotion__img {
        margin-bottom: 3rem;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 32.1rem;
        object-fit: cover;
    }
    
    .promotion__h3 {
        margin-bottom: 1rem;
        font-size: 1.8rem;
        line-height: 3rem;
        font-weight: bold;
    }
    
    .promotion__paragraph {
        margin-bottom: 1rem;
        font-size: 1.4rem;
        line-height: 2.6rem;
    }
}
  
/* Extra large devices large laptops, desktops 1200 and UP */
@media (min-width: 1200px){

}